body {
  font-family: Raleway, sans-serif;
  font-weight: normal;
  font-size: 18px;
  text-underline-offset: 4px;
}

address {
  font-style: inherit;
}

.header_section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1052px;
  max-height: 105px;
  margin: 92px auto 94px;
  padding: 0 60px 0 27px;
}

.header_navigation {
  display: inline-block;
}

.menu_list {
  display: flex;
  column-gap: 1.8em;
  list-style: circle;
}

.menu_item .menu_item_active {
  text-decoration: none;
}

.menu_item_no-circle {
  list-style: none;
}

.header_logo {
  display: block;
  width: 129px;
  height: 105px;
  margin-right: 150px;
}

.contacts_adress {
  line-height: 24.3px;
}

.main_content_cover {
  position: relative;
  z-index: -1;
  display: flex;
  flex-direction: column;
  min-width: 100%;
  min-height: 757px;
  margin: 0 auto 180px;
  color: white;
  background: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cover_title {
  z-index: 2;
  display: flex;
  flex-direction: column;
  min-width: 1000px;
  min-height: 355px;
  margin: 165px 50px 0px;
  font-weight: bold;
  font-size: 100px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.letter-spacing_extended {
  justify-self: start;
  padding-left: 30px;
}

.aligned-text_left {
  margin-bottom: 10px;
  text-align: left;
}

.aligned-text_right {
  text-align: end;
}

.no_letter-spacing {
  letter-spacing: 0;
}

.aligned-text_center {
  display: inline-grid;
  grid-template-columns: 56.5% 1fr;
  justify-items: end;
  margin-bottom: 3px;
}

.cover_description {
  z-index: 2;
  display: grid;
  grid-template-columns: 70% 1fr;
  justify-items: center;
  place-items: center;
  gap: 4%;
  margin: 127px 50px 0px;
  color: white;
}

.cover__description-text {
  font-weight: normal;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 1.2rem;
}

.bet_button {
  min-width: 256px;
  min-height: 51px;
  border: 1px solid white;
  color: white;
  font-family: inherit;
  font-weight: medium;
  font-size: 22px;
  text-transform: uppercase;
  background: transparent;
}

.main_content_lots {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1052px;
  min-height: 692px;
  margin: 0px auto 180px;
}

.lots_heading {
  padding-left: 4%;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.lots_card-list {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  gap: 2.5%;
  max-height: 563px;
  color: white;
  list-style: none;
}

.lots_card-list-item {
  flex-grow: 1;
  
}

.card-link {
  position: relative;
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  max-width: 334px;
  height: 100%;
  padding: 51px 40px 48px;
}

.card_title {
  z-index: 2;
  font-weight: bold;
  font-size: 22px;
  text-decoration: underline;
  text-transform: uppercase;
}

.card_text {
  z-index: 2;
  font-size: 20px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_letter-spacing {
  letter-spacing: 0.1em;
}

.lots__look-more-link {
  padding-left: 4%;
  font-size: 20px;
}

.main_content_about {
  display: grid;
  grid-template-columns: 1fr 66%;
  grid-template-rows: 1fr 58%;
  place-items: center start;
  column-gap: 1.5%;
  max-width: 1052px;
  min-height: 595px;
  margin: 0 auto;
}

.about_logo {
  display: flex;
  place-self: start center;
  justify-content: center;
  align-items: center;
  min-width: 240px;
  min-height: 240px;
  border-radius: 50%;
  background-color: black;
}

.about_logo_image {
  width: 148px;
  height: 114px;
}

.about_title {
  grid-area: 1/2/2/3;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.about_text {
  display: grid;
  grid-area: 2/2/3/3;
  row-gap: 8%;
  align-self: start;
  font-size: 20px;
  word-spacing: 1px;
}

.overlay {
  position: absolute;
  z-index: 1;
  display: block;
  width: 100%;
  min-height: 100%;
  background-color: rgb(0 0 0 / .6);
}







